{% extends 'courses/main-layout.html' %}

{% block style %}
  <style>
    li {
     list-style-type: none; /* Убираем маркеры */
     Width: 50%
     border: 1px solid black
     border-radius: 7px;
    }

    div.comments {
      max-height: 2%;
      resize: none;
      width: 70%;
      margin-left: 15%;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 2%;
      /* background: white; */
    }

    .user_list_item_delete {
      float: right;
      opacity: 0.3;
      margin-left: 15px;
    }

  </style>
{% endblock %}

{% block main_section %}

    <div class="main-block">
        <div class="one-course">
            <h3>{{ object.title }}</h3>

            {% if object.img %}
            <img src="{{ object.img.url }}" alt="{{ object.title }}">
            {% else %}
            <img src="/pictures/default.png" alt="{{ object.title }}">
            {% endif %}
        </div>

        <div class="aside-course">
            <h3>Видео урок - {{ title }}</h3>
            <p>{{ desc }}</p>
            {% if object.free == True %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            {% elif user.is_authenticated == False %}
                <p><a href="{% url 'reg' %}">Зарегистрируйтесь</a> на сайте и купите подписку, чтобы просмотреть этот курс</p>
            {% elif user.profile.account_type == "Бесплатный пакет" %}
                <p>Необходимо купить <a href="{% url 'tarrifs' %}">подписку</a> на сайте, чтобы просмотреть этот курс</p>
            {% else %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            {% endif %}
        </div>
    </div>



  {{get_lesson.comment_lesson.all}}

  <div class="comments mt-5 pt-4 text-muted shadow-sm"">
    <center><h3>Коментарии ({{comments.all.count}})</h3></center>

    <ul>

    {% for item in comments.all %}
      <li class="user_list list-style-type: none">
          @{{ item.user }} <!-- автор -->
          <div class="alert alert-dark" style="">
            {{ item.text }}<br><br>
            <p style="color: white">Дата: {{ item.create_date }}</p>
          </div><br>
      </li>
    {% endfor %}
    </ul>

  </div>



    <form method="post" enctype="multipart/form-data" class="form_add_cource comment_lesson mt-5 pt-4 text-muted shadow-sm"">
      <center><h3>Добавить комментарий</h3></center>
      <hr>

      {% csrf_token %}
      {{ commForm.as_p }}
      <button type="submit" class="btn btn-outline-dark" >Отправить</button>
    </form>

{% endblock %}
