<!-- наследуем шаблон base -->
{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block style %}
  <style type="text/css">

    .user_images {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }

    div.flex {
      margin-top: 25px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 10px;
    }

    h4 {color: white}

    div.alert {
      width: 100%;
      background: white;
      text-align: center;
      border: 1px solid #bfbfbf;
      padding: 20px 10px;
      margin-bottom: 25px;
      margin-top: 25px;
    }

    div.alert h1 {color: black}

    a.btn_3 button {
      background: SeaGreen;
      padding: 10px 20px;
      margin-left: 2px;
      margin-right: 2px;
      border: 3px solid YellowGreen;
    }

    a.btn_3 button:hover {
      background: YellowGreen;
      margin-left: 3px;
      margin-right: 3px;
    }

    a.btn_4 button {
      background: #FFFF00;
      padding: 10px 20px;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 20%;
    }

    a.btn_4 button:hover {
      background: #FFFF00;
    }

    footer {margin-top: 20px}

  </style>
{% endblock %}

{% block content %}
  <h2>Все статьи от автора {{ view.kwargs.username }}</h2>
  <h4>Количество {{ page_obj.paginator.count }}</h4>
  <!-- создадим конструкцию с циклом перебора списка -->
  {% for post in news %}
    <!-- тело цикла -->
    <div class="alert alert-light">
          <h1>{{ post.title }}</h1>
          <p>{{ post.text|striptags|truncatechars:175 }}</p>
          <div class="row">
            <div>
              <img src="{{ post.avtor.profile.img.url }}" alt="{{ post.avtor }}" class="user_images">
            </div>
            <div class="mt-2">
              <span class="text-muted">Публикация: {{ post.date|date:"d E Y в H:i" }}</span>
              <p><b>Автор:</b> <a href="{% url 'user-news' post.avtor %}">{{ post.avtor }}</a></p>
            </div>
          </div>
          <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning mt-3">Читать далее<i class="fas fa-arrow-right"></i></a>
        </div>
  <!-- необходимо закрывать подобную конструкцию -->
  {% endfor %}
  <center>
    {% if is_paginated %}
      {% if page_obj.has_previous %}
      <a href="{% url 'uslugi' %}" class="btn_3"><button class="btn">Начало</button></a>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn_3"><button class="btn">Предыдущая</button></a>
      {% endif %}
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <a class="btn_4"><button class="btn">{{ num }}</button></a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn_3"><button class="btn">{{ num }}</button></a>
      {% endif %}
    {% endfor %}

    {% if is_paginated %}
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn_3"><button class="btn">Следующая</button></a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="btn_3"><button class="btn">Конец</button></a>
      {% endif %}
    {% endif %}
  </center>

{% endblock %}

{% block aside_block %}
  <aside class="col-md-4 mt-3 ml-2">
    <center><h4 class="mt-2"> Интересные статьи:</h4></center>
    <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail">
    <p>Для многих Python - это язык для написания веб проектов, машинного обучения или для анализа данных. На самом деле он более функционален и в этой статье мы вам это докажем.</p>

    <a href="https://itproger.com/news/285" target="_blank">
      <button class="btn btn-warning">Посмотреть<i class="fas fa-arrow-right"></i></button>
    </a>

    <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail mt-4">
    <p>Уже не первый год слышно много положительных отзывов про движок Godot. Пришло время узнать больше об этом движке и выяснить почему он столь популярен.</p>

    <a href="https://itproger.com/news/285" target="_blank">
      <button class="btn btn-warning">Посмотреть<i class="fas fa-arrow-right"></i></button>
    </a>
  </aside>
{% endblock %}
