<!-- наследуем шаблон base -->
{% extends 'blog/base.html' %}

{% block title %}
  Восстановление пароля
{% endblock %}

{% block style %}
  <style type="text/css">
    body {
      text-align: center;
      height: 800px;
    }

    footer{
      position: absolute;
      bottom: -100px;
    }

  </style>
{% endblock %}

{% block window %}
  <h1>Восстановление пароля</h1>
  <!-- метод POST- значит "отправлять" -->
  <form method="post" class="form-register auth">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Запросить новый пароль<i class="fas fa-arrow-right"></i></button>
  </form>
{% endblock %}
