<!-- наследуем шаблон base -->
{% extends 'blog/base.html' %}

{% block title %}
  Страница авторизации
{% endblock %}

{% block style %}
  <style type="text/css">
    body {
      text-align: center;
      height: 800px;
    }

    footer{
      position: absolute;
      bottom: -100px;
    }

  </style>
{% endblock %}

{% block window %}
  <h1>Страница авторизации</h1>
  <!-- метод POST- значит "отправлять" -->
  <form method="post" class="form-register auth">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Войти<i class="fas fa-arrow-right"></i></button>
    <hr>
    <p> Забыли пароль?  <a href="{% url 'pass-reset'%}"> Обновить </a></p>
  </form>
{% endblock %}
