<!-- наследуем шаблон base -->
{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block style %}
  <style type="text/css">
    body {
      text-align: center;
    }

  </style>
{% endblock %}

{% block window %}
  <h1>{{ title }}</h1>
  <!-- метод POST- значит "отправлять" -->
  <form method="post" class="form-register">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-warning" type="submit">Зарегистрироваться<i class="fas fa-arrow-right"></i></button>
    <hr>
    <p>Уже зарегестрированы?<a href="{% url 'user' %}"><br>Войти в личный кабинет</a></p>
  </form>
{% endblock %}
