{% extends 'courses/main-layout.html' %}

{% block title %}
  Удаление курса
{% endblock %}

{% block style %}
  <style type="text/css">

    .main-block {
        justify-content: center;
        align-items: center;
    }

    div.alert{
      margin-left: 0
    }

    .form_add_cource{
        padding-bottom: 20px;
        padding-left: 1%;
        background: #fafafa;
        border: 1px solid silver;
        border-radius: 20px;
        width: 45%;
        margin-bottom: 5%;
        margin-left: 27%;
    }

    footer {
      position: relativee;
      bottom: 0;
    }

  </style>
{% endblock %}

{% block main_section %}

    <div class="main-block">
        <div class="one-course">
            <h3>Вы точно хотите удалить курс "{{ object.title }}"?</h3>
            <form method="post" enctype="multipart/form-data" class="form_add_cource mt-5 pt-4 text-muted">
              {% if object.img %}
              <img src="{{ object.img.url }}" alt="{{ object.title }}">
              {% else %}
              <img src="/pictures/default.png" alt="{{ object.title }}">
              {% endif %}
              <button class="btn btn-danger mt-3" type="submit">Да, удалить</button>
              <a href="{% url 'course-detail' course.get_absolute_url %}" class="btn btn-danger mt-3" type="submit">Нет, отмена</a>
            </form>
        </div>
    </div>

{% endblock %}
