{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'courses/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Shopster</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2" href="{% url 'home' %}">Главная</a>
        <a class="p-2" href="#">Тарифы</a>
      </nav>
    </div>

    <div class="block">
      {% if messages %}
        {% for mess in messages %}
          <div class="alert alert-success"><center>{{ mess }}</center></div>
        {% endfor %}
      {% endif %}
    </div>

    {% block main_section %}
    {% endblock %}


    {% block window %}
    {% endblock %}


      <footer class="pt-4 my-md-5 pt-md-5 pl-3 shadow-sm">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2 ml-4" src="https://cdn-icons-png.flaticon.com/512/3368/3368801.png" alt="" width="24" height="24">
            <small class="d-block mb-3 ml-3">©2022</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a href="#">Cool stuff</a></li>
              <li><a href="#">Random feature</a></li>
              <li><a href="#">Team feature</a></li>
              <li><a href="#">Stuff for developers</a></li>
              <li><a href="#">Another one</a></li>
              <li><a href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a href="#">Resource</a></li>
              <li><a href="#">Resource name</a></li>
              <li><a href="#">Another resource</a></li>
              <li><a href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a href="#">Team</a></li>
              <li><a href="#">Locations</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
</body>
</html>
